body {
    /*background-color: black;*/
    color: white;
    text-align: center;
    font-family: Verdana;
    background: linear-gradient(to bottom, black, black, black, rgb(142, 113, 12), White);
}